.catalog {
    padding: 0 20px;
    padding-top: 50px;
    margin-bottom: 50px;
}
.catalog__item {
    padding-bottom: 20px;
}
.catalog__image {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}
.catalog__item-inner:hover {
    cursor: pointer;
}
.catalog__title {
    margin-bottom: 60px;
    font-weight: 700;
}
.catalog__item-weight {
    color: $color-price-gray;
    white-space: nowrap;
}
.catalog__item-heading {
    display: flex;
}
.catalog__item-price {
    font-weight: 700;
    margin-left: auto;
}
.catalog__item-name {
    margin-right: 8px;
}
.catalog__item-inner:hover .catalog__item-heading  {
    box-shadow: 0px 2px 0px $color-red;
}
.catalog__item-heading {
    padding-bottom: 20px;
    box-shadow: 0px 1px 0px $color-delimetr-gray;
}
.catalog__item-discribe {
    padding-top: 15px;
    color: $color-text-gray;
}
.catalog__item-discribe {

}
.catalog__item-discribe p {
    display: inline
}
.catalog__item-more {
    display: inline-block;
    font-weight: 700;
    margin-left: 5px;
}
.catalog__item-more:hover {
    cursor: pointer;
}
.catalog__item + .catalog__item {
    margin-top: 70px;
}
@media (min-width: 1024px) {
    .catalog {
        float: right;
        max-width: 1435px;
        padding-right: 20px;
    }
    .catalog__heading {
        display: flex;
        align-items: baseline;
    }
    .catalog__image {
        margin-bottom: 40px;
    }
    .catalog__controller {
        display: flex;
        margin-left: auto;
    }
    .catalog__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
    }
    .catalog__title {
        flex: 100%;
    }
    .catalog__item {
        max-width: 279px;
        flex: 0 0 31%;
    }
    .catalog__item-price {
        margin-left: auto;
    }
    .catalog__item-heading {
        flex-wrap: wrap;
    }
    .catalog__item+.catalog__item {
        margin-top: 0px;
    }
    .catalog__item:last-child {
        margin-right: 0;
    }
}
@media (min-width: 1200px) {
    .catalog {
        padding: 50px 50px 0 20px;
    }
    .catalog__item {
        flex: 0 0 23%;
        margin-bottom: 55px;
    }
    .catalog__item:nth-child(4n) {
        margin-right: 0;
    }
}
@media (min-width: 1620px) {
    .catalog__item {
        flex: 0 0 25%;
        margin-right: 70px;
    }
    .catalog__item:nth-child(4n) {
        margin-right: 0;
    }
}