.order {
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    border-top: 1px solid $color-delimetr-gray;
    letter-spacing: 0.6px;
}
.order__title {
    font-weight: 900;
}
.order__number {
    font-size: 13px;
    color: $color-red;
    font-weight: 700;
}
.order__svg {
    display: none;
}
.order__text {
    display: none;
    font-size: 18px;
    line-height: 23px;
    color: #A7A7A7;
}
@media (min-width: 1024px) {
    .order {
        flex: 0 0 225px;
    }
    .order__svg {
        display: inline-block;
    }
    .order__text {
        display: inline-block;
    }
    .order__title-wrapper {
        margin-bottom: 24px;
    }
}
@media (min-width: 1200px) {
    .banner__inner {
        right: 195px;
    }
}