.svg__logo {
    width: 64px;
    height: 64px;
}
.svg__login {
    width: 20px;
    height: 18px;
}
.svg__arrow {
    width: 30px;
    height: 30px;
}
.svg__empty {
    width: 186px;
    height: 191px;
}
.svg__filter-btn {
    width: 15px;
    height: 16px;
}
.svg__popup-close {
    width: 56px;
    height: 56px;
}

@media (min-width: 1024px) {
    .svg__logo {
        width: 56px;
        height: 56px;
        display: block;
    }
}