$color-gray: #333;
$color-gray-light: #575757;
$color-red: #D62323;
$color-red-dark: #B81111;
$color-pale:rgba(255, 255, 255, 0.5);
$color-white: #fff;
$color-price-gray: #c9c9c9;
$color-delimetr-gray: #E8EAED;
$color-text-gray: rgba(14, 8, 8, 0.8);
$animate-time: .6s;